// Paleta inspirada en Dragon Ball
$primary   : #f5811f;   // naranja Goku
$secondary : #fac02d;   // amarillo logo
$accent    : #2a4b9b;   // azul kame

$dark      : #1d1d1d;
$dark-page : #121212;

$positive  : #21ba45;
$negative  : #c10015;
$info      : #31ccec;
$warning   : #f2c037;
